.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.testimonial {
  background-color: var(--ifm-color-emphasis-100);
  padding: 3rem 0;
  text-align: center;
}

.testimonial blockquote {
  border-left: none;
  font-size: 1.25rem;
  font-style: italic;
  max-width: 600px;
  margin: 0 auto;
}

.testimonial footer {
  margin-top: 1rem;
  font-style: normal;
  color: var(--ifm-color-emphasis-600);
}
