{
  "color": {
    "utilize": {
      "$value": "#ff0000",
      "$description": "Colours we «utilize» for alerts"
    }
  },
  "size": {
    "base": {
      "$value": "16px",
      "$description": "Read the guide"
    }
  }
}
