{
  "greeting": "We «utilize» the finest ingredients, {{name}}",
  "item_one": "We «utilize» {{count}} item",
  "item_other": "We «utilize» {{count}} items",
  "nested": {
    "utilize": "Please «utilize» $t(form) today"
  }
}
