# the utilize comment stays as written
msgid ""
msgstr ""
"Language: fr\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Plural-Forms: nplurals=2; plural=(n > 1);\n"

#: src/utilize.c:10
msgctxt "utilize"
msgid "We «utilize» the %s ingredients"
msgstr "Nous «employons» les ingrédients %s"

msgid "We «utilize» one item"
msgid_plural "We «utilize» %d items"
msgstr[0] "Nous «employons» un article"
msgstr[1] "Nous «employons» %d articles"

msgid "Read the guide"
msgstr "Lisez le guide"
