<?xml version="1.0" encoding="utf-8"?>
<root>
  <resheader name="version"><value>2.0</value></resheader>
  <data name="utilize_key" xml:space="preserve">
    <value>We «utilize» the finest ingredients</value>
    <comment>the utilize comment stays as written</comment>
  </data>
  <data name="formatted" xml:space="preserve">
    <value>Hello {0}, we «utilize» it</value>
  </data>
</root>
