<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE TS>
<TS version="2.1" language="fr">
<context>
    <name>MainWindow</name>
    <message numerus="yes">
        <source>We «utilize» %n item(s)</source>
        <translation>
            <numerusform>Nous «employons» %n article</numerusform>
            <numerusform>Nous «employons» %n articles</numerusform>
        </translation>
    </message>
</context>
</TS>
