<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE TS>
<TS version="2.1" language="fr">
<context>
    <name>MainWindow</name>
    <message>
        <location filename="utilize.cpp" line="10"/>
        <source>We «utilize» the finest ingredients</source>
        <comment>the utilize comment stays as written</comment>
        <translation>Nous «employons» les meilleurs ingrédients</translation>
    </message>
    <message>
        <source>Spices we «utilize» for %1</source>
        <translation>Épices que nous «employons» pour %1</translation>
    </message>
</context>
</TS>
