WEBVTT

NOTE the utilize note stays as written

intro
00:00:01.000 --> 00:00:04.000 align:start
We «utilize» the <b>finest</b> ingredients

00:00:05.000 --> 00:00:08.000
Read the guide
before you order

00:00:09.000 --> 00:00:12.000
<v Chef>Spices we «utilize»</v>
