<?xml version="1.0" encoding="UTF-8"?>
<xliff xmlns="urn:oasis:names:tc:xliff:document:2.0" version="2.0" srcLang="en" trgLang="fr">
  <file id="f1">
    <unit id="segmented">
      <segment id="a">
        <source>First we «utilize» <pc id="1">this</pc>. </source>
        <target>D'abord nous «employons» <pc id="1">ceci</pc>. </target>
      </segment>
      <segment id="b">
        <source>Then <ph id="2"/> that.</source>
        <target>Puis <ph id="2"/> cela.</target>
      </segment>
    </unit>
  </file>
</xliff>
