<?xml version="1.0" encoding="UTF-8"?>
<xliff xmlns="urn:oasis:names:tc:xliff:document:2.0" version="2.0" srcLang="en" trgLang="fr">
  <file id="f1">
    <unit id="greeting">
      <notes>
        <note>the utilize note stays as written</note>
      </notes>
      <originalData>
        <data id="d1">&lt;br/&gt;</data>
      </originalData>
      <segment>
        <source>We «utilize» the <pc id="1">finest</pc> ingredients<ph id="2" dataRef="d1"/></source>
        <target>Nous «employons» les <pc id="1">meilleurs</pc> ingrédients<ph id="2" dataRef="d1"/></target>
      </segment>
    </unit>
    <unit id="spanning">
      <segment>
        <source>Spices we <sc id="3"/>«utilize»<ec startRef="3"/> &amp; love</source>
        <target>Épices que nous <sc id="3"/>«employons»<ec startRef="3"/> &amp; aimons</target>
      </segment>
    </unit>
    <unit id="plain">
      <segment>
        <source>Read the guide</source>
        <target>Lisez le guide</target>
      </segment>
    </unit>
  </file>
</xliff>
