<?xml version="1.0" encoding="UTF-8"?>
<xliff version="1.2" xmlns="urn:oasis:names:tc:xliff:document:1.2">
  <file source-language="en" target-language="fr" datatype="plaintext" original="utilize.txt">
    <body>
      <trans-unit id="greeting">
        <source>We «utilize» the <g id="1">finest</g> ingredients<x id="2"/></source>
        <target>Nous «employons» les <g id="1">meilleurs</g> ingrédients<x id="2"/></target>
        <note>the utilize note stays as written</note>
      </trans-unit>
      <trans-unit id="paired">
        <source>Spices we <bpt id="3">&lt;b&gt;</bpt>«utilize»<ept id="3">&lt;/b&gt;</ept> <ph id="4">%s</ph></source>
        <target>Épices que nous <bpt id="3">&lt;b&gt;</bpt>«employons»<ept id="3">&lt;/b&gt;</ept> <ph id="4">%s</ph></target>
      </trans-unit>
      <trans-unit id="plain">
        <source>Read the guide</source>
        <target>Lisez le guide</target>
      </trans-unit>
    </body>
  </file>
</xliff>
