<?xml version="1.0" encoding="UTF-8"?>
<!-- the comment stays as written -->
<doc id="fresh" xmlns:its="http://www.w3.org/2005/11/its">
  <title>Fresh ingredients</title>
  <p>We use the <b>finest</b> <link href="https://example.com/guide" rel='help'>ingredients</link> daily.</p>
  <p>See <ref target="herbs" xmlns:x="urn:x">the herbs</ref> we grow.</p>
  <p>Pick <b its:translate="yes" xml:lang="en">fresh words</b> today.</p>
  <p>The <link href="javascript:openMenu()" rel='nav'>menu</link> opens here.</p>
  <p>Tap <a href="https://example.com/" onclick="track()">here</a> now.</p>
  <p>Send <button formaction="https://example.com/send">this</button> form.</p>
  <p>Watch <object data="https://example.com/clip.mp4">the clip</object> now.</p>
  <p>Quote <q cite="https://example.com/source">the source</q> here.</p>
  <p>Shown <picture srcset="small.png 1x, large.png 2x">as an image</picture> here.</p>
  <p>Draw <svg:a xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://example.com/shape">the shape</svg:a> now.</p>
  <p>Fade <svg:set xmlns:svg="http://www.w3.org/2000/svg" attributeName="fill" to="javascript:alert(1)">the colour</svg:set> in.</p>
</doc>
